<div>
  <h2>Tezos Resources</h2>

  <h3>Index of Tezos Resources</h3>
  <ul>
    <li><a href="https://tezos.rocks/">Best Tezos Resources</a>: Curated Collection of best Tezos Resources like tezos price and tezos ICO.</li>
    <li><a href="http://www.mytezosbaker.com/">My Tezos Baker</a>: a
      comparison between delegation services.</li>
    <li><a href="https://baking-bad.org/">Baking Bad</a>: an
      independent service for calculating rewards for delegation Tezos
      and matching it with actually received payments.</li>
    <li><a href="https://tezoshop.art/">TezoShop</a>: discounts and promotions
      on baking from bakers</li>
  </ul>

  <h3>Technical Documentation</h3>
  <ul>
    <li><a href="http://doc.tzalpha.net/">TzAlpha</a>: developer
      Documentation on Tezos.</li>
    <li><a href="http://www.michelson-lang.com/">Michelson</a>:
      A site on the Michelson language.</li>
    <li><a href="http://www.liquidity-lang.org/">Liquidity</a>:
      A higher-level language for Tezos smart contracts.</li>
    <li><a href="http://www.liquidity-lang.org/edit">Liq-Edit</a>:
      Online Editor for Liquidity.</li>
  </ul>

  <h3>Discussions between users</h3>
  <ul>
    <li><a href="https://www.reddit.com/r/tezos/">Reddit /r/Tezos</a>:
    communication on Tezos on Reddit.</li>
  </ul>
</div>
