/*
 * Row with equal height columns
 * --------------------------------------------------
 */
@media (min-width: 768px) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}

@media (max-width: 1199px) {
    .mobile-reverser {
        display: flex ;
        flex-direction: column-reverse ;
    }

    .navbar-header {
        float: none;
        height: 125px;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar .collapse.in{
        display:block !important;
    }
}

.navbar-collapse.collapse.in .navbar-form {
    border-top: none ;
    border-bottom: none ;
    -webkit-box-shadow: none ;
    box-shadow: none ;
}


/*********************************
COL-SM-X START HERE :
  * Breakpoint for front-row
**********************************/
@media (max-width : 1199px) {
    .front-box {
        padding-right : 0 ;
        padding-left : 0 ;
    }
    .operation-row-itm {
        text-align: center;
        padding-top: 10px;
    }

    .panel .panel-body {
        /* padding: 0 ; */
    }

    .block-id {
        height: 115px;
    }
    .block-timestamp {
        padding-top: 28px;
    }

    .advanced-balance {
        margin-left : 0 ;
        margin-right : 0 ;
    }

}

/*********************************
COL-XS-X START HERE :
  * Breakpoint for HOME
**********************************/
@media (max-width: 767px) {
    .navbar-brand {
        height: 30px;
    }
    #logo {
        height: 75px;
    }
    .footer {
        height: 307px;
        text-align: center ;
    }
    .footer .footer-sub .row div {
        border-right : unset ;
    }
    .blocks-div {
        height: auto !important;
        max-height: auto !important;
        width: 100% ;
        text-align: center ;
    }

    .block-row {
        width: 100%;
        margin-left : 0 ;
        margin-right : 0 ;
        display: none ;
    }

    .block-row:nth-child(1),
    .block-row:nth-child(2),
    .block-row:nth-child(3),
    .block-row:nth-child(4),
    .block-row:nth-child(5) {
        display: block ;
    }

    .block-row .block-id {
        padding : 0;
        height: 70px;
    }

    .block-info {
        border-radius: 0;
    }


    .block-id {
        height: 70px;
    }

    .block-timestamp {
        padding-top: 5px;
    }


    .operations-div {
        height: auto !important;
        max-height: auto !important;
        width: 100% ;
    }

    .operation-row {
        width: 100%;
        margin-left : 0 ;
        margin-right : 0 ;
        display: none ;
    }

    .whole-div-link:nth-child(1) .operation-row,
    .whole-div-link:nth-child(2) .operation-row,
    .whole-div-link:nth-child(3) .operation-row,
    .whole-div-link:nth-child(4) .operation-row,
    .whole-div-link:nth-child(5) .operation-row {
        display: block ;
    }

    /* #marketcap-container table.table tbody tr th, */
    /* #last-block-container table.table tbody tr th { */
    /*     padding: 4px */
    /* } */

    #front-row .table tbody tr th,
    #front-row .table tbody tr td {
        padding: 6px;
    }

    #front-row .table {
        min-width: 600px;
    }
    #front-row .table-responsive {
        border: 0;
    }

    #content > .row,
    .block-id > .row {
        margin-left : 0 ;
        margin-right : 0 ;
    }

    .operation-row-itm {
        text-align: center ;
        margin-bottom : 6px ;
        padding-top: 10px;
    }

    .endorsements-table {
        margin: 0 ;
    }

    .endorsements-table table td div,
    .endorse-tbl table td div {
        padding : 4px ;
    }

    .panel .panel-heading {
       padding: 8px 8px ;
    }

    .panel .panel-title {
        font-size: 13px ;
    }

    .panel .table-responsive {
        margin-bottom: 0 ;
        width: unset ;
    }

    .liquidity-icon {
        height: 18px ;
    }

}

/*********************************
 * Container behavior for low reso
 **********************************/
@media (min-width: 768px) {
    .container-fluid {
        margin-left : 5%;
        margin-right : 5%;
    }
}
@media (min-width: 992px) {
    .container-fluid {
        margin-left : 5%;
        margin-right : 5%;
    }
}
@media (min-width: 1200px) {
    .container-fluid {
        margin-left : 5%;
        margin-right : 5%;
    }
}

@media (max-width: 550px) {
    .stat-item .ldBar {
        width: 89px !important ;
        height: 89px !important ;
    }
    #filter-list div {
        font-size: 65% ;
    }
    #search_list div {
        font-size: 65% ;
    }

}

@media (max-width: 425px) {
    .blocks-div table.table {
        font-size: 14px ;
    }
    .home-panel h3 {
        font-size: 17px ;
    }
    .home-panel h2 {
        font-size: 11px ;
    }
    .hidden-xxs {
        display: none !important ;
    }
    .home-sponsored-descr.col-xs-10 {
        width: 100% !important ;
    }
}

/************
* search bar
*************/
@media (max-width: 992px) {
    .search-input {
        width: 100%;
        min-width: auto;
    }
}

@media (max-width: 1500px) {
    .hidden-xl {
        display: none !important ;
    }
}

/************
 * Odometer
 *************/
@media (min-width: 1200px) and (max-width: 1300px) {
    .odometer {
        font-size : 25px !important ;
    }
}
@media (min-width: 1300px) and (max-width: 1500px) {
    .odometer {
        font-size : 28px !important ;
    }
}
@media (max-width: 400px) {
    .odometer {
        font-size : 28px !important ;
    }
}
@media (max-width: 1199px) {
    .hidden-1200 {
        display: none;
    }
}

/*****************
 * Reward choices
 *****************/

@media (max-width: 600px) {
    .reward-update-button {
        margin-bottom: 2px;
    }
    .reward-choices {
        margin-bottom: 2px;
    }
    .reward-input {
        margin-right: 0px;
    }
}
@media (max-width: 370px) {
    .reward-choices {
        margin-right: 0px;
    }
}

/***********
 * Proposal
 ***********/

@media (max-width:768px) {
    #proposal-progress-title-1 {
        text-align: center;
        font-size: 20px;
    }
    #proposal-progress-title-2 {
        text-align: center;
        font-size: 20px;
    }
    .voting-progress span, .voting-level {
        font-size: 18px;
        line-height: 30px;
    }
}

@media (min-width: 1200px) and (max-width: 1220px) {
    .home-panel {
        height: 95px;
    }
}

/***********
 * Home amendment box
 ***********/

@media (min-width: 1200px) and (max-width: 1550px) {
    .sub-sm-fan {
        font-size: 10px ;
    }
}
@media (max-width: 767px) {
    .sub-sm-fan {
        font-size: 10px ;
    }
}
